.spotify-modal {
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 4px;
  width: 291px;
  height: 214px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.spotify-modal button {
  border: none;
  background-color: rgb(255, 79, 79);
}

.spotify-modal button:hover {
  cursor: pointer;
}
