.spotify-modal {
  color: lightsteelblue; /* text color */
  background: white; /* background color */
  padding: 20px; /* padding */
  border-radius: 4px; /* border radius */
  width: 500px; /* width */
  height: 600px; /* height */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center the modal */
}

.spotify-modal-overlay {
  background-color: rgba(0, 0, 0, 0.75); /* semi-transparent black */
}

