.header{
    background-color: #1B191B;
    height: 100vh;
}
.header > h1{
    padding-top:10px;
    margin-left: 10px;
    color: #BC6180;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 0;
    font-family: 'Bungee Shade', sans-serif;
  
    text-align: center;
    
    
}
