.side_bar_description {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


.boards__sidebar {
    color: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.boards__sidebar-content {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hidden {
    display: none;
    visibility: hidden;
}

.new__board__container {
    display: flex;
    color: white;
    z-index: 2;
    background-color: #6c547b;
    border-radius: 3px;
    border: solid black 2px;
    padding: 20px 20px 32px 20px;
    max-width: 180px;
    min-width: 180px;
    width: 20%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 220px;
    text-align: center;
    justify-content: space-around;
}

.board__images__li {
  position: relative;
  padding-top: 4px;
  margin: 0 auto;
}

.board__images__ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    
}

.new__board-dropdown {
  position: absolute;
  z-index: 3;
}
