.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid yellow;
  width: 100%;
  height: 100%;
}

.card__container button {
  border: 1px solid red;
}

.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  border: 1px solid #e6e6fa71;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

.add-card-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.add-card-button .fa-plus {
  margin: 7px;
}

.add-card-button p {
  margin: 0;
}

.add-card-button:hover {
  background-color: #e6e6fa71;
}

.card-form {
  width: 100%;
  z-index: 2;
}

.new-card-add-info input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: #e6e6fa71;
  border-radius: 5px;
  margin: 0 0 7px 0;
}

#description {
  height: 50px;
}

.fa-xmark {
  margin: 7px;
  cursor: pointer;
}

.new-card-btn {
  cursor: pointer;
}

