*{
    font-family: 'Coiny', system-ui;
}

.create__list-button{
    color: red;
    border-radius: 5px;
}

.create_list_button{
    background-color: #161515;
    border-radius: 5px;
    color: white;
    border-bottom: 1px solid whitesmoke; 
    background: none; 
    border: none;
    cursor: pointer; 
}

.create_list_button:hover {
    background-color: #656565; 
}

/* ? Color classes  */
/* !default  */
.default_component_name_color{ color: #4D3AC1;}
.default_list__head{ color: #689AAB;}
.default_list__name{color: #FEA60F;}
.default_list__group{border: 4px solid #4D3AC1; }
.default_lists{border: 10px solid #161515; background-color: rgba(188, 97, 128, 0.5);}
.default_image{ background-image: url('../../resources/images/default.svg');}

/* !Image 1 */

.imageOne__image { background-image: url('../../resources/images/colorOne.svg');}
.imageOne__Component_name_color { color:#638FAD ; }
.imageOne__head{color:#FBC5B8 }
.imageOne__list__name{color: #3685A4;}
.imageOne__list__group{ border: 4px solid #39436F; }
.imageOne__lists{ border: 10px solid #D7759E;
    background-color: rgba(188, 97, 128, 0.5);}


/* !Image 2 */

.imageTwo__image { background-image: url('../../resources/images/colorTwo.svg');}
.imageTwo__component_name_color{ color:#1B3990; }
.imageTwo__list__head{color: #BE5EAD;}
.imageTwo__list__name{ color: #BF6FCB;}
.imageTwo__list__group{border: 4px solid #E68FD5;}
.imageTwo__lists{ border: 10px solid #443797 ;
    background-color: rgba(188, 97, 128, 0.5);}


/* !image 3 */
.imageThree__image {  background-image: url('../../resources/images/colorThree.svg');}
.imageThree__component_name_color{color: #3D3789 ; }
.imageThree__list__head{color: #443797;}
.imageThree__list__name{color: #122768  ;}
.imageThree__list__group{border: 4px solid #122768 ;}
.imageThree__lists{ border: 10px solid #BE5EAD;
    background-color: rgba(188, 97, 128, 0.5);}



/* !image 4 */
.imageFour__image {background-image: url('../../resources/images/colorFour.svg');}
    .imageFour__component_name_color{color:#CE78AF ; }
    .imageFour__list__head{color:#E397B8 ;}
    .imageFour__list__name{color:#80A2B4 ;}
    .imageFour__list__group{border: 4px solid  #19487B;}
    .imageFour__lists{ border: 10px solid #13618C; background-color: rgba(188, 97, 128, 0.5);}



/*! Image 5 */
.imageFive__image {background-image: url('../../resources/images/colorFive.svg');}
.imageFive__component_name_color{ color: #CC89AB;}
.imageFive__list__head{color:#F6BDB7 ;}
.imageFive__list__name{color:#8561a5;}
.imageFive__list__group{border: 4px solid #4885A4;}
.imageFive__lists { border: 10px solid #6D5485; background-color: rgba(188, 97, 128, 0.5);}


/*  !Image 6 */
.imageSix__image {
  background-image: url('../../resources/images/colorSix.svg');}
.imageSix__component_name_color{color: #A87368;  }
.imageSix__list__head{color: #30242E;}
.imageSix__list__name{color: #3d2828;}
.imageSix__list__group{border: 4px solid #843935 ;}
.imageSix__lists{ border: 10px solid #161515; background-color: rgba(131, 42, 47, 0.5);}


.lists__container{

border-radius: 8px;
background-attachment: absolute;
background-size: cover;
height: 100vh; 
}
.component__name{
    
    margin-left: 5px
}
.list__head{
   
   margin-left: 10px;
   margin-bottom: 15px;
   padding-top: -15px;

}

.lists__group {
    display: flex;

    justify-content: space-around;
    height: 80vh;
    width: 80vw;
    margin: 12px auto;
    border-radius: 20px;


}

.list{
   
    text-align: center;
    margin: 12px 0;
    width: 20%;
    border-radius: 25px;
}
.preloader{
    height: 50%;
    width: 50%;
}

.list:hover {
    animation: shake 0.7s;
    animation-iteration-count: 1;
  }

  @keyframes shake {
    0% { transform: translate(1px, 2px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .lists__group:hover .list:not(:hover){
    filter: blur(10%);
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

 .preloader{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150"><rect fill="%231B191B" width="100%" height="100%"/><path fill="none" stroke="%239B6AF7" stroke-width="20" stroke-linecap="round" stroke-dasharray="300 385" stroke-dashoffset="0" d="M275 75c0 31-27 50-50 50-58 0-92-100-150-100-28 0-50 22-50 50s23 50 50 50c58 0 92-100 150-100 24 0 50 19 50 50Z"><animate attributeName="stroke-dashoffset" calcMode="spline" dur="3.1" values="685;-685" keySplines="0 0 1 1" repeatCount="indefinite"></animate></path></svg>') ;

    background-attachment: absolute;
    margin: 0 auto;
    background-size: cover;
    height: 80vh;
    width: 65%;
    z-index: 5;
 }
