#modal-content {
  position: absolute;
  top: 50px;
  width: 768px;
  background-color: grey;
  border-radius: 15px;
  padding: 20px;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
}

.cardTitle div {
  margin-left: 10px;
}

.title-information {
  position: relative;
  top: 16px;
}

.title-information h3 {
  color: lightgray;
  font-size: 23px;
  font-weight: 600;
  margin: 0;
}

.title-information p {
  color: lightgray;
  margin-top: 0;
  font-size: 13px;
}

.flashCard {
  color: white;
  width: 30px;
  height: 30px;
}

#activity .row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 545px;
}

.comment-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-container button {
  border: none;
  color: lightgray;
  background-color: rgb(107, 107, 107);
  padding: 5px;
  cursor: pointer;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;

}

.row-container p {
  color: lightgray;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

.editor-container-1,
.editor-container {
  background-color: rgb(74, 74, 74);
  padding: 6px;
  width: 70%;
  border-radius: 5px;
}

.editor-container-1 {
  margin-left: 29px;
}

.button-container {
  margin-left: 51px;
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-around;
}

.save-2,
.button-container button {
  margin-top: 6px;
  padding: 8px 16px;
  border: none;
  background-color: gray;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}

.button-container .save {
  background-color: rgb(84, 84, 255);
  margin-right: 6px;
}

.save-2 {
  background-color: rgb(84, 84, 255);
  margin-left: 36px;
  cursor: pointer;
  margin-bottom: 40px;
}

.button-container .cancel {
  color: lightgray;
}

.save-2:hover,
.button-container .save:hover {
  background-color: aquamarine;
}

.button-container .cancel:hover {
  background-color: rgb(169, 169, 169);
}

.comment-block {
  margin-top: 30px;
}

.comment-block,
.comment-container {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 40px; */
}

.comment-block i,
.comment-container i {
  margin-right: 10px;
}

.comment-block i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 27px;
}

.comment_insert {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.comment_insert i {
  margin-top: 8px;
}

.toolbar {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
}

.toolbar button {
  color: white;
  height: 32px;
  width: 32px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: slategray;
  cursor: pointer;
}

.toolbar button i {
  margin: auto;
}

.name_date {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  margin: 5px;
}

.name_date h2 {
  color: lightgray;
  font-size: 15px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 6px;
}

.name_date span {
  color: lightgray;
  font-size: 11px;
}

.comment_info p {
  margin-top: 0;
  width: 510px;
  padding: 6px;
  background-color: #282828;
  color: lightgray;
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 5px;
}

hr {
  border-color: rgb(173, 173, 173);
}

.edit-delete-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
  margin-left: 5px;
}

.edit-delete-btn button {
  width: 48px;
  font-size: smaller;
  border: none;
  background-color: grey;
  color: lightgray;
  cursor: pointer;
}

.edit-delete-btn span {
  color : lightgray;
}
