#modal-content {
  position: absolute;
  top: 50px;
  width: 768px;
  height: 908px;
  background-color: grey;
  border-radius: 15px;
  padding: 12px;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardTitle div {
  margin-left: 10px;
}

.flashCard {
  color: white;
  width: 30px;
  height: 30px;
}

#activity .row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.editor-container {
  border: 1px solid black;
  background-color: darkslategray;
  padding: 6px;
  width: 70%;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-around;
}

/* .editor-container-2 {
  border: 1px solid black;
  background-color: darkslategray;
  padding: 6px;
} */
.comment-block,
.comment-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.comment-block i,
.comment-container i {
  margin-right: 10px;
}

.comment-block i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 27px;
}


.toolbar {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
}

.toolbar button {
  color: white;
  height: 32px;
  width: 32px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: slategray;
  cursor: pointer;
}

.toolbar button i {
  margin: auto;
}

.name_date {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  margin: 5px;
}

.name_date h2 {
  font-size: 15px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
}

.name_date span {
  font-size: 11px;
}

.comment_info p {
  margin-top: 0;
}

hr {
  border-color: rgb(144, 144, 144);
}
